---
const {item} = Astro.props
---
<article class="flex flex-col gap-2">
    <header>
        <div class="flex justify-between items-center">
            <h3 class="title2">{item.institution}</h3>
            <time>{item.startDate} - {item.endDate}</time>
        </div>
        <h4>{item.area}</h4>
    </header>
</article>
